node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

#git init
#git remote add origin 'pathToYourRepo'
#git add .
#git commit -m "first commit"
#git push -u origin main